@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Lato&display=swap');
@tailwind components;
@tailwind utilities;
@tailwind base;

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

:root, body, html {
    background-color:#000000 ;
    color: white;
}

h1 {
    font-family: 'Bungee', sans-serif;
    color: white;
}

::-webkit-scrollbar, ::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    display: none;
}

.glass{
    background: #7f7f7f1e;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.glow1 {
    filter: drop-shadow(0px 0px 75px rgba(85, 0, 255, 1));
}

.glow2 {
    filter: drop-shadow(0px 0px 75px rgba(255, 0, 157, 1));
}

.glow3 {
    filter: drop-shadow(0px 0px 75px rgba(255, 255, 255, 1));
}

.glow4 {
    filter: drop-shadow(0px 0px 75px rgba(255, 0, 89, 1));
}

.glow5 {
    filter: drop-shadow(0px 0px 75px rgba(195, 0, 255, 1));
}

.polka {
    opacity: 0.8;
    background-image: radial-gradient(rgba(225, 225, 225, .20) 1.2000000000000002px, transparent 1.2000000000000002px);
    background-size: 24px 24px;
        position: relative;
}

.polka::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    height: 50px;
    width: 100vw;
    z-index: 99;
    background: linear-gradient( 0deg, #000000 10%, #00000000 100%);
    
}