<footer class="p-3 md:p-0 md:h-[10vh] bg-[#100F10] flex flex-col md:flex-row justify-center gap-x-2 gap-y-2 items-center text-zinc-300">
    <p> Developed and maintained by</p>
    <div class="flex items-center gap-x-2">
        <a href="https://github.com/anav5704" class="underline text-lg"><h1>anav</h1></a> 
        @ 
        <a href="https://procyon.website" class="underline text-lg"><h1>procyon</h1></a>
    </div>
</footer>