---
import Header from "./Header.astro";
const rand = Math.floor(Math.random() * 5) + 1;
---

<main class="h-[90vh] mt-[10vh] flex flex-col justify-center gap-y-10 md:gap-y-0 md:justify-evenly items-center text-white">
    <div class="flex flex-col gap-y-10 text-center w-5/6">
        <Header content="News. for gamers, by gamers." />
        <p class="font-semibold text-lg"> Level up your gaming experience with breaking news, exclusive insights, and all things gaming. Game on!</p>
    </div>
    <div class="flex md:flex-row flex-col items-center gap-x-28">
        <img class={`${rand == 1 ? "block" : "hidden"} md:block glow1 anim1 h-40 z-10`} src="/images/unreal.webp" alt="" />
        <img class={`${rand == 2 ? "block" : "hidden"} md:block glow2 h-40 z-0 `} src="/images/rs6.png" alt="" />
        <img class={`${rand == 3 ? "block" : "hidden"} md:block glow3 h-40 z-20`} src="/images/radiant.webp" alt="" />
        <img class={`${rand == 4 ? "block" : "hidden"} md:block glow4 h-40 z-30`} src="/images/pred.webp" alt="" />
        <img class={`${rand == 5 ? "block" : "hidden"} md:block glow5 h-36 z-00`} src="/images/uc.png" alt="" />
    </div>