---
import Header from "./Header.astro";

---

<main class="polka h-[90vh] mt-[10vh] flex flex-col justify-evenly items-center text-white">
    <div class="flex flex-col gap-y-10 text-center">
        <Header content="News. for gamers, by gamers." />
        <p class="font-semibold tracking-widest text-xl"> Level up your gaming experience with breaking news, exclusive insights, and all things gaming. Game on!</p>
    </div>
    <div class="flex items-center gap-x-28">
        <img class="glow1 anim1 h-40 z-10" src="/images/unreal.webp" alt="" />
        <img class="glow2 h-40 z-0 " src="/images/rs6.png" alt="" />
        <img class="glow3 h-40 z-20" src="/images/radiant.webp" alt="" />
        <img class="glow4 h-40 z-30" src="/images/pred.webp" alt="" />
        <img class="glow5 h-36 z-00" src="/images/uc.png" alt="" />
    </div>
</main>