---
import { Image } from "astro:assets";
import favicon  from "../images/fav.png"
---
<nav class="overflow-hidden glass z-50 w-screen fixed top-0 flex items-center justify-between h-[10vh] text-white px-24">
    <a href="/" class="flex items-center gap-x-5">
        <Image format="avif" quality={50} src={favicon} alt="image" height={45} width={45} />
        <h1 class="text-lg font-medium">Gamers Hub</h1>
    </a>
    <ul class="hidden md:flex items-start gap-x-7">
        <li><a class="hover:underline" href="/">Home</a></li>
        <li><a class="hover:underline" href="/blog">Blogs</a></li>
        <li><a target="_blank" class="hover:underline" href="https://github.com/anav5704/gamers-hub">Code</a></li>
    </ul>
</nav>
