---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro"
import "../styles/main.css"
import Footer from "../components/Footer.astro";
interface Props {
	title?: string;
    description?: string; 
    image?: string;
}

const { title="Gamers Hub", description="News on current games.", image="/src/images/fav.png" } = Astro.props;
---
 
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/images/fav.png" />
        <meta property="og:imgae" content="/src/images/fav.png" >
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
        <ViewTransitions/>
	</head>
	<body class="m-h-screen polka">
        <Navbar />
		<slot />
        <Footer />
	</body>
</html>

<style is:global>
</style>
